@import '@/styles/variables.scss';

.form {
  width: 100%;
  max-width: $max-form-width;
}

.content__timer {
  font-family: $font-family;
  font-weight: 300;
  margin: 2px 0;
  font-size: $font-size-small;
  color: $color-text-light;
}

.button {
  width: 100%;

  &__description {
    margin: auto;
    background-color: transparent;
    border: none;
    color: $purple;
    text-decoration: underline;
    width: 100%;
    font-size: $font-size-small;
    font-family: $font-family;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      color: $footer-purple;
    }
  }
}