@import '../../../styles/variables.scss';

.hall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  .zoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__plus {
      border: 1px $border-light solid;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__minus {
      border: 1px $border-light solid;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}