@import '../../../styles/variables.scss';

.content {
  margin: auto;
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: $image-size;
  padding: 10px;
  text-align: left;  
  font-family: $font-family;
  font-weight: 300;
  width: 100%;
}