$font-family-film-info: 'Roboto', sans-serif;
$font-family: 'Inter', sans-serif;
$font-size-page-name: 32px;
$font-size-title: 24px;
$font-size-description: 16px;
$font-size-subtitle: 14px;
$font-size-small: 12px;
$image-size: 328px;
$padding: 16px;
$gap: 16px;

$color-text-dark: #141C24;
$color-text-light: #637083;
$color-text-white: #ffffff;

$transition: all ease-out 0.3s;
$purple: #9534D2;
$footer-purple: #712D9C;
$dark-purple: #9434d9c9;
$border-light: #CED2DA;

$bg-primary: #ffffff;
$bg-secondary: #f3f4f6;
$bg-disabled: #f3f4f6;