@import '../../../styles/variables.scss';

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: $gap;
  margin: auto;
  margin-top: 60px;
  padding-bottom: 60px;
  max-width: $image-size;
  padding: 10px;
  text-align: left;
  font-family: $font-family;
  font-weight: 300;
}

.card {
  padding: $padding;
  background-color: $bg-secondary;
  border-radius: 1rem;
  height: min-content;
  gap: $gap;
  width: 100%;
  box-sizing: border-box;

  &__second-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    :first-child {
      width: 48%;
      box-sizing: border-box;
    }

    :last-child {
      width: 48%;
      box-sizing: border-box;

    }
  }
}