@import '../../../styles/variables.scss';

.content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  gap: $gap;
  max-width: $image-size;
}