@import '@/styles/variables.scss';

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc($gap * 2);
  max-width: $image-size;

  text-align: left;
  font-family: $font-family;

  &__title {
    font-size: $font-size-page-name;
  }

  &__text {
    font-size: $font-size-small;
    color: $color-text-light;
    font-weight: 300;
  }

  &__success {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}