@import '@/styles/variables.scss';

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  height: min-content;
}

.content {
  margin: auto;
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: $image-size;
  padding: 10px;
  text-align: left;
  font-family: $font-family;

  &__title {
    font-size: $font-size-page-name;
  }

  &__text {
    font-size: $font-size-small;
  }

  &__success {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}