@import '../../../styles/variables.scss';

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.schema {
  padding: 10px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
  box-sizing: border-box;
  font-family: $font-family;
  font-weight: 300;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    .seat {
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 3px;
      margin: 8px;
      display: block;

      &__seat-index {
        color: white;
        margin: auto;
        cursor: pointer;
        width: min-content;
      }

      &_econom {
        border: 2px $dark-purple solid;

        &:hover {
          padding: 4px;
          margin: 4px
        }

        &_active {
          background-color: $dark-purple;
          padding: 4px;
          margin: 4px
        }
      }

      &_comfort {
        border: 2px $footer-purple solid;

        &:hover {
          padding: 4px;
          margin: 4px
        }

        &_active {
          background-color: $footer-purple;
          padding: 4px;
          margin: 4px
        }
      }

      &_blocked {
        border: 2px white solid;
      }
    }
  }

  .screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 10px;

    &__screen-schema {
      width: 100%;
      height: 4px;
      background-color: $border-light;
      border-radius: 2px;
    }

    &__screen-text {
      color: $border-light;
    }
  }

  .hall {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &__matrix-seats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 70%;
    }

    &__seats-schema {
      display: flex;
      flex-direction: column;
    }

    .zoom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &__plus {
        border: 1px $border-light solid;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__minus {
        border: 1px $border-light solid;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}