@import '../../../styles/variables.scss';

.ticket {
  border: 2px solid $border-light;
  border-radius: 15px;
  width: 100%;
  max-width: $image-size;
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding: $padding;
  box-sizing: border-box;
  font-family: $font-family;

  &__action-area {
    cursor: pointer;
    background-color: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: $gap;
    transition: $transition;

    &:hover {
      background-color: none;
    }
  }

  &__first-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
  }

  &__date {
    color: #97A1AF
  }

  &__time {
    color: #97A1AF
  }

  &__second-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap;
    text-align: center;
  }

  &__film-name {
    font-size: $font-size-title;
  }

  &__film-seats {
    font-size: $font-size-subtitle;
    font-weight: 300;
  }

  &__third-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
  }

  &__status-container {
    border: none;


    &_canceled {
      color: #cf8c4e;
      background-color: #f9f4ec;
      padding: 2px 5px;
      border-radius: 10px;
    }

    &_payed {
      color: #4ECF53;
      background-color: #ECF9F2;
      padding: 2px 5px;
      border-radius: 10px;
    }
  }

  &__status-text {}

  &__order-code {
    color: #97A1AF
  }
}

.modal {
  margin: $padding;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: $gap;
}